package templates

var styleHandler = templ.NewOnceHandle()

templ TextResult(imgSrc string, text string) {
	<div>
		<img src={ imgSrc }/>
		<p>
			{ text }
		</p>
		@styleHandler.Once() {
			<style>
			me {
				width: 100%;
				display: flex;
				flex-direction: column;
			}
			me img {
				flex: 0 1 auto;
				width: 100%;
				max-height: 8rem;
				object-fit: scale-down;
			}
			me p {
				flex: 1 1 auto;
				margin: 0;
				min-height: 30%;
			}
		</style>
		}
	</div>
}
